*{
    margin: 0px;
    padding: 0px;
}

.container{
    border: 1px solid black;
}

.navbar{
    height: 75px;
}

.navbar .logo{
    border: 1px solid red;
    width: 225px;
    height: 75px;
    float: left;
}

.navbar .logo .logohere{
    margin-left: 35px;
    margin-top: 15px;
}

.navbar .links{
    padding: 25px;
    float: left;
}

.main{
    border: 1px solid black;
    height: 575px;
}

.main .sidebar{
    width: 400px;
    border: 2px solid yellow;
    height: 575px;
}

.main .sidebar .sidebox{
    border: 1px solid black;
    width: 285px;
    padding: 25px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.main .maincontent{
    border: 1px solid green;
    height: 575px;
    width: 1190px;
    float: right;
    flex: 1;
}