*{
    margin: 0;
    padding: 0;
}
body{
    background-color: skyblue;
    margin: 1%;
}
.navbar{
    width: 100%;
    background-color: purple;
    color: white;
}
.main{
    background-color: orange;
    height: 500px;
}
.entryGroup{
    color: white;
    margin: 1%;
    width: 50%;
    float: left;
}
.Entry{
    background-color: black;
    margin: 2%;
    padding: 2%;
}
.sidebar{
    color: white;
    background-color: black;
    overflow: hidden;
    padding: 2%;
    margin: 3%;
    height: 150px;
} 
.footer{
    background-color: darkblue;
    color: white;
}  