html,
body {
  background: #1f2122;
  font-family: "Poppins", sans-serif;
}

.page-content {
  background-color: #27292a;
  color: #666;
  border-radius: 25px;
}

.nav-link {
  font-weight: 500;
  font-size: 17px;
  color: #666;
  text-transform: capitalize;
}

.nav-link:hover {
  color: #e75e8d;
}

.main-button {
  font-size: 14px;
  color: #fff;
  background-color: #e75e8d;
  padding: 12px 30px;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.main-button:hover {
  background-color: #fff;
  color: #e75e8d;
}

.banner-image {
  width: 100%;
  height: auto;
}

.banner-text {
  color: #fff;
}

.most-popular {
  background-color: #1f2122;
  border-radius: 23px;
}

.heading-section h4 {
  color: #ec6090;
  font-size: 34px;
}

.heading-section h4 em {
  color: #fff;
  font-style: normal;
  text-decoration: underline;
}


.card {
  background-color: #27292a;
  border-radius: 15px;
  overflow: hidden;
}
.card-title {
  font-size: 1.2rem;
  color: #fff;
}
.card-subtitle {
  color: #ec6090;
  font-size: 1rem;
}
.card ul {
  color: #666;
}
.card img{
  border-radius: 25px;
}
.bi-star-fill {
  color: yellow;
}
.bi-download {
  color: #ec6090;
}

