html,
body {
  background: #1f2122;
  font-family: "Poppins", sans-serif;
}

body .page-content {
  background-color: #27292a;
  color: #666;
  border-radius: 25px;
}

.nav-link{
  font-weight: 500;
  font-size: 17px;
  text-transform: capitalize;
  color: #666;
}

.nav-link:hover{
  color: #e75e8d;
}

.main-button{
  font-size: 14px;
  color: #fff;
  background-color: #e75e8d;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
}

.main-button:hover {
  background-color: #fff;
  color: #e75e8d;
}


.main-banner {
  position: relative;
}

.banner-image {
  width: 100%;
  height: auto;
  display: block;
}

.banner-text {
  color: white;
}

.banner-text h6 {
  font-size: 16px;
  font-weight: 400;
}

.banner-text h4 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}
